body {
    background-color: #ECEFF1;
    overflow-x: hidden;
}

/* Authentication */
.auth {
  margin-top: 50px;
    text-align: center;
}

.logo {
    text-align: center;
    font-weight: 100;
    font-size: 80px;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

a.logo {
    color: #5B5B5B;
}

a {
    cursor: pointer;
}

.auth .card {
    width: 400px;
    margin: 0 auto;
}


@media screen and (max-width: 480px) {
  .auth .card {
    width: 100%;
  }

  .logo {
    font-size: 60px;
  }
}

.auth .header {
    font-size: 18px;
}

.auth .row {
    margin-bottom: 0px;
}

.auth .username {
  margin-top: 0px;
}

.auth .btn {
    width: 90%;
}

.auth .footer {
    border-top: 1px solid #E9E9E9;
    padding-bottom: 21px;
}

/* wrapper */
.wrapper {
    margin-top: 20px;
}

.main{
    width:400px;
    height:400px;
    font-size:18px;
}

.searchBack {
    height: 200px;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url("https://t4.ftcdn.net/jpg/01/45/58/07/240_F_145580797_GKam8q397cifhF7nNFSgHDYbCCnG8lBF.jpg");
    background-image: url("https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Full-HD-All-White-Wallpaper-PIC-WPC002143.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.searchContainer {
    padding: 50px;
}

/* WRITE */

.write .materialize-textarea {
    padding: 0px;
    padding-bottom: 36px;
    margin-bottom: 0px;
    font-size: 18px;
}

.write .card-content {
    padding-bottom: 10px;
}

.write .card-action {
    text-align: right;
}


/* Memo */

.memo .info {
    font-size: 18px;
    padding: 20px 20px 40px 20px;
    color: #90A4AE;
}

.memo .info .username {
    color: #263238;
    font-weight: bold;
    cursor: pointer;
}

.memo .card-content {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.memo .small {
    width: 200px;
    height: 200px;
}

.icon-button {
    color: #9e9e9e;
    cursor: pointer;
}

.icon-button:hover {
    color: #C5C5C5;
}

.icon-button:hover {
    color: #C5C5C5;
}

.icon-button:active {
    color: #ff9800;
}

.memo .option-button {
    position: absolute;
    right: 20px;
    top: 20px;
}

.memo .card-content {
    font-size: 18px;
}

.memo .footer {
    border-top: 1px solid #ECECEC;
    height: 45px;
    padding-right: 4px
}

.memo .header {
    border-bottom: 1px solid #ECECEC;
    height: 45px;
    padding-right: 4px
}

.star {
    position: relative;
    left: 15px;
    top: 11px;
}

.rent {
    position: relative;
    left: 0px;
    right: 20px;
    top: 4px;
}

.star-count {
    position: relative;
    left: 20px;
    top: 4px;
    font-size: 13px;
    font-weight: bold;
    color: #777;
}


/* ANIMATION */
@-webkit-keyframes memo-enter {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes memo-enter {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.memo-enter {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: memo-enter;
    animation-name: memo-enter;
}

/* ANIMATION */
@-webkit-keyframes memo-leave {
    0% {
      opacity: 1;
      max-height: 1080px;
    }
    50% {
      opacity: 0;
       -webkit-transform: translateX(100px);
    }
    100% {
        max-height: 0px;
    }
}

@keyframes memo-leave {
    0% {
      opacity: 1;
      max-height: 1080px;
    }
    50% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
        max-height: 0px;
    }
}

.memo-leave {
    max-height: 0px;
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: memo-leave;
    animation-name: memo-leave;
}


/* WALL HEADER */
.empty-page {
    font-size: 30px;
    text-align: center;
    color: #4D4D4D;
}

.wall-info {
    font-size: 30px;
    text-align: center;
}



/* SEARCH */

.nav-searchbar{
    position: relative;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border-radius: 0\9;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: auto;
    margin: 10px 0 0;
}

.nav-right {
    position: relative;
    float: right;
    width: auto;
    display: inline-block;
}

.search-screen {
    position: fixed;
    overflow-y: none;
    left: 0px;
    top: 0px;
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 99;
}

.search-screen input {
    text-align: center;
    font-size: 50px;
    line-height: 80px;
    margin-top: 10vw;
    height: 80px;
    font-weight: 200;
}

.search-screen .btn {
    margin-top: 14px;
    margin-right: 20px;
}

.search-screen .form{
    margin-top: 200px;
}

ul.search-results {
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
}
ul.search-detail {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}

.search-results a {
    padding: 10px;
    display: block;
    color: white;
}

.search-results a + a {
    border-top: 1px solid #5F5F5F;
}

.search-results a:hover {
    background-color: rgba(255, 255, 255, 0.10);
}

@-webkit-keyframes search-enter {
    0% {
      opacity: 0;
      height: 0%;
    }
    100% {
      opacity: 1;
      height: 100%;
    }
}

@keyframes search-enter {
    0% {
      opacity: 0;
      height: 0%;
    }
    100% {
      opacity: 1;
      height: 100%;
    }
}

.search-enter {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-name: search-enter;
    animation-name: search-enter;
}

@-webkit-keyframes search-leave {
    0% {
      opacity: 1;
      height: 100%;
    }
    100% {
      opacity: 0;
      height: 0%;
    }
}

@keyframes search-leave {
    0% {
      opacity: 1;
      height: 100%;
    }
    100% {
      opacity: 0;
      height: 0%;
    }
}

.search-leave {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-name: search-leave;
    animation-name: search-leave;
}
